.title {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
}
#list{
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}
#btn-delete{
    background-color: #F95738;
    color: white;
}
#btn-input{
    background-color: #F95738;
    color: black;
}

@media (min-width: 744px) {
    .title {
        font-size: 70px;
        line-height: 80px;
      }
      #list{
        font-size: 27px;
        line-height: 35px;
    }
}
@media (min-width: 1024px) {
    .title {
        
        font-size: 85px;
        line-height: 80px;
      }
      #list{
        font-size: 35px;
        line-height: 45px;
    }
}